<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>工作人员接报管理</title>
    <style>
        #app{
            width:1024px;
            margin: 0 auto; 
        }
        .add-btn{
            margin-top: 20px;
            width: 100%;
        }
        .body{
            margin-top:20px;
        }
    </style>   
</head>
<body>
    <div id="app">
        <h1>工作人员接报管理</h1>
        <div class="head">
            <el-row :gutter="30">
                <el-col :span="8">
                    <el-input v-model="userInfo.name" placeholder="请输入创建人"></el-input>
                </el-col>
                <el-col :span="8">
                    <el-input v-model="userInfo.nameOfAccident" placeholder="请输入事件名称"></el-input>
                </el-col>
                <el-col :span="8">
                    <el-input v-model="userInfo.peopleCallPolice" placeholder="请输入报警人"></el-input>
                </el-col>
                <el-col :span="8">
                    <el-input v-model="userInfo.pCPMember" placeholder="请输入报警人电话"></el-input>
                </el-col>
                <el-col :span="8">
                    <el-input v-model="userInfo.state" placeholder="流程状态"></el-input>
                </el-col>
            </el-row>
            <el-button type="primary" @click="addUser" class="add-btn" plain>添加信息</el-button>
        </div>
        <!-- 主体内容 -->
        <div class="body">
            <template>
                <el-table :data="tableData" style="width: 100%">
                    <el-table-column label="序号" width="180"><template slot-scope="scope"> {{scope.$index + 1 }} </template></el-table-column>
                    <el-table-column prop="name" label="创建人" width="180"></el-table-column>
                    <el-table-column prop="nameOfAccident" label="事件名称"></el-table-column>
                    <el-table-column prop="peopleCallPolice" label="报警人"></el-table-column>
                    <el-table-column prop="pCPMember" label="报警电话"></el-table-column>
                    <el-table-column prop="state" label="流程状态"></el-table-column>
                    <el-table-column prop="birthday" label="操作">
                        <template slot-scope="scope">
                            <el-button type="primary" icon="el-icon-edit" @click="editUser(scope.row,scope.$index)" circle></el-button>
                            <el-button type="danger" icon="el-icon-delete" @click="delUser(scope.$index)" circle></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
        </div>
        <!-- 编辑框 -->
        <el-dialog title="编辑用户信息" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
            <div>
                <el-form ref="form" :model="editObj" label-width="80px">
                    <el-form-item label="创建人"><el-input v-model="editObj.name"></el-input></el-form-item>
                    <el-form-item label="事件名称"><el-input v-model="editObj.nameOfAccident"></el-input></el-form-item>
                    <el-form-item label="报警人"><el-input v-model="editObj.peopleCallPolice"></el-input></el-form-item>
                    <el-form-item label="报警电话"><el-input v-model="editObj.pCPMember"></el-input></el-form-item>
                    <el-form-item label="流程状态"><el-input v-model="editObj.state"></el-input></el-form-item>
                </el-form>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="confirm">确 定</el-button>
            </span>
        </el-dialog>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script>
        
        new Vue({
            el:'#app',
            data: function(){
                return{
                    userInfo:{  
                        name:'',
                        nameOfAccident: '',
                        peopleCallPolice: '',
                        pCPMember: '',
                        state:'',
                    },
                    tableData: [{
                        name:'小明',
                        nameOfAccident: '火灾',
                        peopleCallPolice: '安女士',
                        pCPMember: '13540213667',
                        state:'处理中',
                    },{
                        name:'小红',
                        nameOfAccident: '地震',
                        peopleCallPolice: '何先生',
                        pCPMember: '12412578641',
                        state:'已完成',
                    },{
                        name:'小智',
                        nameOfAccident: '台风',
                        peopleCallPolice: '金女士',
                        pCPMember: '12845235982',
                        state:'专家处理中',
                    }
                    ],
                    dialogVisible: false,  
                    editObj:{
                        name:'',
                        nameOfAccident: '',
                        peopleCallPolice: '',
                        pCPMember: '',
                        state:'处理中',
                    },
                    userIndex:0,
                }
            },
            methods:{
                //添加
                addUser(){
                    if(!this.userInfo.name){
                        this.$message({
                            message: '请输入创建人！',
                            
                        });
                        return;
                    }
                    if(!this.userInfo.nameOfAccident){
                        this.$message({
                            message: '请输入事件！',
                            type: 'warning'
                        });
                        return;
                    }
                    if (!this.userInfo.peopleCallPolice) {
                        this.$message({
                            message: '请输入报警人！',
                            type: 'warning'
                        });
                        return;
                    }
                    if (!this.userInfo.pCPMember) {
                        this.$message({
                            message: '请输入报警人电话！',
                            type: 'warning'
                        });
                        return;
                    }
                    if (!this.userInfo.state) {
                        this.$message({
                            message: '请输入接报状态！',
                            type: 'warning'
                        });
                        return;
                    }
                    this.tableData.push(this.userInfo);
                    this.userInfo = { 
                        name:'',
                        nameOfAccident: '',
                        peopleCallPolice: '',
                        pCPMember: '',
                        state:'',
                    };
                },

                //删除
                delUser(idx){
                    this.$confirm('确认删除此条接报？')
                        .then(_ => {
                            this.tableData.splice(idx, 1);
                        })
                        .catch(_ => {});
                },
                //编辑
                editUser(item,idx){
                    this.userIndex = idx;
                    this.editObj = {
                        name: item.name,
                        nameOfAccident: item.nameOfAccident,
                        peopleCallPolice: item.peopleCallPolice,
                        pCPMember: item.pCPMember,
                        state:item.state,
                    };
                    this.dialogVisible = true;
                },

                //查询
                inquire(){
                    
                },

                handleClose(){
                    this.dialogVisible = false;
                },

                confirm(){
                    this.dialogVisible = false;
                    Vue.set(this.tableData, this.userIndex, this.editObj);
                        }
                    },
                })
    </script>

</body>
</html>
